
@import url(https://fonts.googleapis.com/css2?family=Ubuntu&display=swap);
* {
    box-sizing: border-box;
  }
html, body {
    height: 100;
    margin: 0;
    background-color: #e0e0e0;
    font-family: "Ubuntu",sans-serif;
  }
  .container{
    height: 100%;
    
    

    
    /* background-color: #e0e0e0; */
}
.header{
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    

    
}
.footer{
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    
    padding: 20px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    
}

.header a{
    
    text-decoration: none;
    color: black;
}
.contact{
    text-decoration: none;
    color: black;
}
footer div:nth-child(2){
    font-size: 10px;
}
.fbinsta{
    margin-right: 50px;
}
main{
padding-bottom: 100px; 
padding-top: 100px;
}
main div ul{
    display: flex;
    justify-content: center;
    
   
    list-style: none;
    text-decoration: none;
    margin: auto;
}





.main{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 4%;
    margin-right: 4%;

}
.form1{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}
.bottom{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1%;
    margin-bottom: 2%;

}
.border{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
}
.border1{
    border-left: 2px solid black;
    margin-right: 30px;
}
form{
    text-align: center;
    margin: auto;
    
}
input[type=text] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;
  }
  input[type=date] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;
  }
  input[type=number] {
    
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;
    
  }
  input[type=submit] {
   
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;
    
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  table{
      position: static;
      margin-left: 30px;
      
      
  }
  
 