@import url(https://fonts.googleapis.com/css2?family=Ubuntu&display=swap);
html, body {
    height: 100;
    margin: 0;
    background-color: #e0e0e0;
    font-family: "Ubuntu",sans-serif;
  }
  .container{
    height: 100%;
    
    

    
    /* background-color: #e0e0e0; */
}
.header{
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    
    

    
}
.footer{
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    
    padding: 20px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    
}

.header a{
    
    text-decoration: none;
    color: black;
}
.contact{
    text-decoration: none;
    color: black;
}
footer div:nth-child(2){
    font-size: 10px;
}
.fbinsta{
    margin-right: 50px;
}
main{
padding-bottom: 100px; 
padding-top: 100px;
}
main div ul{
    display: flex;
    justify-content: center;
    
   
    list-style: none;
    text-decoration: none;
    margin: auto;
}
.image1,.image2,.image3{
    display: flex;
    
}
.radisson{
    margin-left: 30px;
    margin-top: 20px;
}



#liststart{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 180px;

}















.image1,.image2,.image3{
    background-color: rgb(193, 201, 205);
    width: 40%;
    margin: 2%;
    height: 100%;
    
}
.list{
    margin-right: 140px;
    text-decoration: none;
    color: black;
    
}
.map{
    text-decoration: none;
    color: black;
}